body{
    font-family: "Roboto";
 }
.Web{
    color:rgb(33,150, 242);
    font-family: 'Raleway';
}
.main{
    font-family: "Roboto";
    max-width: 1600px;;
    max-height: 600px;
    background-color: black;
    margin-top: 30px;
}
.h1{
    font-family: "Roboto";
    color: white;
}
.Studio{
    color: white;
}
.footer{ max-width: 1600px;
    font-family: "Roboto";
    height: 235px;
    background-color: black;
}
.StudioStudio{
   
    color: black;
}
p{
    font-family: "Roboto";
    color: grey;
}
.pp{
    font-family: "Roboto";
    color: white;
}
 button {
    font-family: "Roboto";
    background-color:rgba(33, 150, 243, 1)
    ;

 }
 .ul-text{
    font-family: "Roboto";
    color: rgba(255, 255, 255, 1);
    
 } 

 .container {
    width: 1170px ;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
 }
 .nav{
    font-family: "Roboto";
    color: black;
    text-decoration: none;
    margin-top: 30px;
 }
 .section{
    padding-top: 50px;
    margin-bottom:94px ;
 }
 .ul{
    margin-top: 64px;
    margin-bottom: 94ox;
 }
 #Wed{
    font-family: 'Raleway';
 }

 .section-ul{
    margin-top: 94px;
    margin-bottom: 94px;
 }
